<nav class="brown darken-2">
  <div class="container">
    <div class="nav-wrapper">

      <a href="/stories" class="brand-logo center">PhossilRecord</a>
      <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
        
        <!-- right-hand nav -->
        <ul class="right hide-on-small-only">
          {{#if user}}
            <li><a href="/dash">Welcome, {{user.firstName}}.</a></li>
            <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Until next time.</a></li>
          {{else}}
            <a href="/stories"><i class="fa fa-book"></i> Public record</a>
          {{/if}}
        </ul>

    </div>
  </div>
</nav>