<!-- CKEditor 5 classic editor -->
<textarea name="body" id="body"></textarea>
<label for="body">Your words</label>

<script>
  ClassicEditor
    .create(document.querySelector('#body'))
    .catch(error => {
      console.error(error);
    });
</script>
