<div class="jumbotron jumbotron-fluid">
  <div class="container bg-light">
    <h1 class="display-4">Phossil Record</h1>
    <p class="lead">Welcome to the Phossil Record</p>
    <p>Here you can discover and artifacts and contribute to the growing collection</p>
    <a href="/auth/google" class="btn green darken-1"><i class="fa fa-google left"></i> Start here with Google.</a>
  </div>
</div>
